<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Social Media Login Example</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Social Media Login</h1>
        <p>Social media login example. You can login by using Google, Facebook, Twitter and Linked In. <br/>All type of
            logins are more secured by using OAuth2.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">

            <h2 th:if="${myForm.signInProvider != null}">Signup with <span th:utext="${myForm.signInProvider}"></span>
            </h2>

            <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}">
            </div>
            <form method="POST" th:object="${myForm}">
                <input th:field="*{userId}" type="hidden"/>
                <input th:field="*{signInProvider}" type="hidden"/>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input autofocus class="form-control" id="firstName" th:field="*{firstName}" type="text"><BR/>
                    <div class="alert alert-danger" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input class="form-control" id="lastName" th:field="*{lastName}" type="text"><BR/>
                    <div class="alert alert-danger" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" th:field="*{email}" type="text"><BR/>
                    <div class="alert alert-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="usernameTxt">Username:</label>
                    <input class="form-control" id="usernameTxt" th:field="*{userName}" type="text"><BR/>
                    <div class="alert alert-danger" th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}">..
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input class="form-control" id="pwd" th:field="*{password}" type="password"><BR/>
                    <div class="alert alert-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">..
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="p-2"><a href="/">
                        <button class="btn btn-secondary" type="button">Back</button>
                    </a></div>
                    <div class="p-2"></div>
                    <div class="p-2">
                        <button class="btn btn-info" type="submit">Create New Account</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>
</body>
</html>